<mat-form-field appearance="outline" class="w-100">
  <mat-label>Buscar compra</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. 12, usuario, fecha..." #input>
</mat-form-field>

<button mat-raised-button color="primary" (click)="abrirFormulario()">
  <i class="ti ti-plus"></i> Nueva Compra
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idCompraProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.idCompraProducto }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">{{ row.fechaIngreso }}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let row">{{ row.fkUsuario?.idUsuario ?? '' }}</td>
    </ng-container>

    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
      <td mat-cell *matCellDef="let row">{{ row.observaciones }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="editar(row)" matTooltip="Editar">
          <i class="ti ti-edit f-18"></i>
        </button>

        <button mat-icon-button color="warn" (click)="eliminar(row)" matTooltip="Eliminar">
          <i class="ti ti-trash f-18"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No hay datos que coincidan con "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Seleccionar página"></mat-paginator>
</div>

<!-- MODAL -->
<app-compra-producto-modal [open]="modalOpen" [seleccionado]="seleccionado" (closed)="cerrarModal()"
  (saved)="onSaved()">
</app-compra-producto-modal>
