<div class="modal-manual-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-manual-content shadow-lg">

    <div class="modal-header-custom">
      <h2 class="mat-headline-6 mb-0">{{ ubicacion?.idUbicacion ? 'Editar Ubicación' : 'Nueva Ubicación' }}</h2>
      <button mat-icon-button (click)="onClose()" type="button">
        <i class="ti ti-x f-20"></i>
      </button>
    </div>

    <div class="modal-body-custom">
      <form [formGroup]="form" class="row gx-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ej. Bodega Principal">
            <mat-error>Requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo</mat-label>

            <mat-select formControlName="tipo" [disabled]="tiposUbicacion.length === 0">
              @for (t of tiposUbicacion; track t.idDetalleCatalogo) {
              <mat-option [value]="t.descripcion">{{ t.descripcion }}</mat-option>
              }
            </mat-select>

            @if (form.get('tipo')?.invalid && form.get('tipo')?.touched) {
            <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" rows="3"></textarea>
            <mat-error>Requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-checkbox formControlName="esPuntoVenta">
            Es Punto de Venta
          </mat-checkbox>
        </div>
      </form>
    </div>

    <div class="modal-actions-custom">
      <button mat-button type="button" (click)="onClose()" [disabled]="cargando">Cancelar</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid || cargando">
        <i class="ti ti-device-floppy me-1"></i> {{ cargando ? 'Guardando...' : 'Guardar Ubicación' }}
      </button>
    </div>
  </div>
</div>
