<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
          <div class="text-center">
            <a href="javascript:">
              <img src="assets/images/logoallien.jpg" alt="logo" style="max-width: 100px; height: auto;"/>
            </a>
          </div>

          <h4 class="text-center m-t-20 m-b-25 f-20 f-w-500">Inicia Sesión</h4>

          <form [formGroup]="loginForm" class="text-start" (ngSubmit)="login()">

            <label class="f-w-500">Correo Electrónico</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input matInput formControlName="email" placeholder="ejemplo@correo.com" />
              @if (email?.invalid && email?.touched) {
                <mat-error>{{ getErrorMessage() }}</mat-error>
              }
            </mat-form-field>

            <label class="f-w-500">Contraseña</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if (password?.invalid && password?.touched) {
                <mat-error>La contraseña es requerida (min. 4 caracteres)</mat-error>
              }
            </mat-form-field>


            <div class="grid">
              <button mat-flat-button color="primary" class="b-rad-20 m-t-15" type="submit" [disabled]="loginForm.invalid">
                Ingresar
              </button>
            </div>

          </form>

        </app-card>
      </div>
    </div>
  </div>
</div>
@if (mostrarCambioPassword) {
<app-change-password-modal [idUsuario]="idUsuarioLogin!" [obligatorio]="true" (changed)="onPasswordChanged()">
</app-change-password-modal>
}
